@import './variables';

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.app{
  height: 100vh;
  display: flex;
  background-color: $mainColor;
  color: white;
  @import './start';
  .main{
    .loseGame{
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), $mainColor), url('./assets/bg.jpg') center;
    display: flex;
    flex-direction: column;
    .top{
      height: 50%;
      position: relative;
      .timer{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        bottom: 30px;
        left: 100px;
      }
    }
    .bottom{
      height: 50%;
      @import './quiz';
    }
  }
  .money{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 10vh;
    h3{
      font-size: 30px;
      top: 30px;
    }
    .logo{
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    ul{
      list-style: none;
      width: 100%;
      height: 65%;
      padding: 20px;
      margin: 10px;
      margin-top: 30px;
      .active{
        background-color: teal;
      }
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
        margin-right: 20px;
        position: relative;
        .question{
          font-size: 22px;
          font-weight: 100;
          width: 30%;
          position: absolute;
          left: 10%;
        }
        .amount{
          font-size: 28px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 1258px){
  .app{
    .money{
      .question{
        display: none;
      }
    }
  }
}
@media (max-width: 885px){
  .app{
    .main{
      width: 65%;
      .top{
        height: 30%;
      }
      .bottom{
        height: 80%;
      }
    }
    .money{
      width: 40%;
      .question{
        display: none;
      }
    }
  }
}
@media (max-width: 586px){
  .app{
    .main{
      width: 50%;
      .top{
        height: 30%;
      }
      .bottom{
        height: 80%;
      }
    }
    .money{
      width: 50%;
      .question{
        display: none;
      }
    }
  }
}

@media (max-height: 824px){
  .app{
    .money{
      h3{
        height: 20%;
        margin-top: 40px;
      }
      ul{
        height: 80%;
      }
    }
  }
}
@media(max-height: 814px){
  .app{
      .main{
        width: 75%;
        .top{
          height: 35%;
        }
        .bottom{
          height: 80%;
        }
      }
    .money{
      h3{
        display: none;
      }
      ul{
        height: 90%;
        li{
          .amount{
            font-size: 20px;
          }
        }
      }
    }
  }
}